<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <style>
        .hero-section {
            background-image: url('/images/welcome.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
<nav class="navbar bg-dark border-bottom border-body ps-4" data-bs-theme="dark">
    <a class="navbar-brand fw-bold" href="/">
        <i class="bi bi-send-fill"></i>
        Gmailer</a>
</nav>
<div class="p-5 mb-4 bg-body-tertiary rounded-3 hero-section">
    <div class="container-fluid py-5 d-flex flex-column align-items-center text-center">
        <h1 class="display-3 fw-bold">Welcome!</h1>
        <p class="col-md-8 fs-4">Send email from everywhere</p>
        <a th:data-testid="registerHereButton" class="btn btn-primary btn-lg" href="contact" type="button">Register Here<i class="bi bi-arrow-right ms-2"></i></a>
    </div>
</div>
<div class="container-fluid px-5">
    <div class="row g-4 justify-content-evenly">
        <div class="col-md-3">
            <div class="h-100 p-5 bg-white border rounded-4 text-center">
                <div class="d-inline-flex align-items-center justify-content-center rounded-circle bg-success-subtle text-success p-3 mb-4"><i class="bi bi-terminal fs-2"></i></div>
                <h4 class="fw-bold mb-3">Send it by CLI</h4>
                <p class="text-body-secondary mb-4 col-10 mx-auto">You can send an email using curl, httpie or using a script</p>
                <a th:data-testid="commandLineButton" class="btn btn-success btn-lg px-4" href="command-line" type="button">View details<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="h-100 p-5 bg-white border rounded-4 text-center">
                <div class="d-inline-flex align-items-center justify-content-center rounded-circle bg-primary-subtle text-primary p-3 mb-4"><i class="bi bi-ui-checks fs-2"></i></div>
                <h4 class="fw-bold mb-3">Send it by Form</h4>
                <p class="text-body-secondary mb-4">You can send an email using a form in your website</p>
                <a th:data-testid="formButton" class="btn btn-success btn-lg px-4" href="form" type="button">View details<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="h-100 p-5 bg-white border rounded-4 text-center">
                <div class="d-inline-flex align-items-center justify-content-center rounded-circle bg-primary-subtle text-primary p-3 mb-4"><i class="bi bi-file-earmark-text fs-2"></i></div>
                <h4 class="fw-bold mb-3">Send it by File</h4>
                <p class="text-body-secondary mb-4">You can send an email using a file with an email list addresses</p>
                <a th:data-testid="batchButton" class="btn btn-success btn-lg px-4" href="batch" type="button">View details<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
        </div>
    </div>
</div>
<footer class="pt-3 mt-4 text-body-secondary border-top text-center">
    <a class="navbar-brand" href="http://josdem.io">© 2026 - <span class="text-primary">josdem.io</span></a>
</footer>
</body>
</html>